.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 79px;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 34px;
  margin-top: -8.5px;
  text-decoration: none;
}

.copyright__text {
  margin-right: 30px;
  font-family: $default-font;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  color: $black;
}

.copyright__svg {
  margin-top: 7px;
  margin-right: 0.5px;
  fill: $blue;
}

.copyright__link:hover .copyright__svg {
  fill: #46c1ae;
}

.copyright__link:active .copyright__svg {
  fill: #46c1ae;
  opacity: 0.3;
}

.copyright__link:active .copyright__text {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 190px;
    margin-top: 9px;
    padding-left: 10px;
  }
}
