.tel {
  display: block;
  box-sizing: border-box;
  width: 320px;
}

.tel__container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  height: 107px;
  margin: 0 auto;
}

.tel__legend {
  position: relative;
  padding: 0;
  margin: 9px 0 6.5px;
  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $blue;
  text-transform: uppercase;
}

.tel__legend::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 198px;
  height: 1px;
  background-color: #62d1ba;
}

.tel__input {
  box-sizing: border-box;
  height: 52px;
  font-family: $default-font;
  font-size: 17px;
  line-height: 18px;
  color: #d2d2d2;
  border: none;
  outline: none;
  border-bottom: 2px solid $gray;
  border-radius: 0;
}

.tel__svg {
  position: absolute;
  display: block;
  top: 43px;
  right: 7px;
  fill: #cccccc;
}

.tel__input:hover {
  border-bottom: 2px solid #62d1ba;
}

.tel__input:focus {
  color: $gray;
  border-bottom: 2px solid #62d1ba;
}

.tel__input:hover + .tel__svg {
  fill: #62d1ba;
}

.tel__input:focus + .tel__svg {
  fill: #62d1ba;
}

@media (min-width: $tablet-width) {
  .tel {
    width: 100%;
    padding-top: 26px;
    background-color: #f1f1f1;
  }

  .tel__container {
    display: flex;
    flex-direction: row;
    width: $tablet-content-width;
    height: 77px;
    padding-left: 2px;
  }

  .tel__legend {
    box-sizing: border-box;
    width: 167px;
    height: 77px;
    margin: 0;
    padding: 40px 0 0;
  }

  .tel__legend::after {
    display: none;
  }

  .tel__input {
    width: 501px;
    height: 76px;
    margin: 0;
    padding: 20px 0 0 17px;
    font-size: 19px;
    line-height: 19px;
    background-color: #f1f1f1;
  }

  .tel__svg {
    right: 23.5px;
    top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .tel__container {
    width: $desktop-content-width;
    padding-left: 0;
  }

  .tel__legend {
    width: 175px;
    padding-left: 62px;
  }

  .tel__input {
    width: 700px;
  }

  .tel__svg {
    right: 182px;
  }
}
